.app-header {
    grid-row:1;
    grid-column: 1/3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding-inline: 1.2em;
    padding-inline-end: 2em;
    background-color:$clr1;
    border-bottom: 1px solid $clr4;
    h2{
        font-weight:600 ;
        color: $clrYellow;
    }
    .header-rate{
        display: flex;
       align-items: center;
       gap: 7px;
       i{
        font-size: 1.2rem;
       }
        
    }
    input {
        border: none;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 3px;
        height: 35px;
        width: 165px; 
        margin-right: 5px;
    }
    a{
        color:$clr5;
        font-size: 0.7rem;
    }
    .login-form{
        padding-top: 15px;
    }
}